/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------- */
/* Main Nav*/
/* ------------------------- */
.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10px;
  height: 4em;
  font-weight: bold;
  z-index: 2;
}

.main-nav a:link,
.main-nav a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 2px solid #553a08e7;
}

.navlink {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  size: 36px;
  text-decoration: none;
  align-self: center;
}

/* ------------------------- */
/* Intro Page*/
/* ------------------------- */
.main-page {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/hero.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro__content {
  flex: 1;
  align-content: flex-start;
  align-self: center;
  font-size: 150%;
  text-align: center;
  /* font-weight: bold; */
}

.intro__content img {
  height: 6em;
  border-radius: 25%;
  filter: brightness(80%);
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
}

.intro__link:link,
.intro__link:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.intro__link:active,
.intro__link:hover {
  /* font-size: 115%; */
  border-bottom: 2px solid #553a08e7;
}

/* ------------------------- */
/* Project*/
/* ------------------------- */

.projects {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/project.jpg);
  /* background-image: radial-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(250, 250, 250, 0.137),
      rgba(255, 255, 255, 0.7)
    ),
    url(./img/project.jpg); */
  background-size: cover;
  color: rgba(255, 255, 255, 0.753);
  background-attachment: fixed;
  width: 100vw;
  height: 200vh;
  padding-top: 4em;
  text-decoration: none;
}

.project__elem {
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.568)
  );
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.project__title {
  text-align: center;
}

.project__elem > div {
  display: block;
  margin-left: 2em;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.project_container__elem__tag1 {
  width: 23vw;
}

.project_container__img {
  display: block;
  height: 7em;
  width: auto;
  border-radius: 6px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  filter: brightness(70%);
  overflow: hidden;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.project_container__img:hover {
  filter: brightness(100%);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.project_container__elem__tag2 {
  width: 66vw;
}

.project_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  text-align: center;
}

.project_detail {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}
.project_title:link,
.project_title:visited {
  color: rgba(255, 255, 255, 0.753);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project_title:active,
.project_title:hover {
  color: rgba(0, 0, 0, 0.63);
  font-size: 115%;
}

.project_container__icon {
  display: block;
  width: 2.5em;
  height: auto;
  filter: brightness(60%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.project_container__icon:active,
.project_container__icon:hover {
  width: 3em;
  height: auto;
  filter: brightness(80%);
}

/* ------------------------- */
/* Contact*/
/* ------------------------- */
.contact-main {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/contact.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/contact.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
}

.contact {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.contact img {
  align-self: center;
  justify-content: space-evenly;
  margin-top: 3em;
  height: 4em;
  width: 4em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact img:active,
.contact img:hover {
  width: 5em;
  height: auto;
}

/* ------------------------- */
/* Media Queries*/
/* ------------------------- */

/* from 0 to 800px */
@media only screen and (max-width: 800px) {
  .intro__title {
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1.5em;
  }

  .intro__content {
    padding-top: 0.6em;
    padding: 0;
  }
}

/* from 0 to 500px */
@media only screen and (max-width: 500px) {
  .contact img {
    margin: 3.5em 0.5em 0.5em 0.5em;
  }
  .projects {
    height: 350vh;
  }
  .project__elem {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .project_details {
    justify-content: center;
  }
  .project_detail {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}
@media only screen and (max-width: 900px) {
  .project_container__img {
    height: 3em;
  }
}
