/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------- */
/* Main Nav*/
/* ------------------------- */
.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10px;
  height: 4em;
  font-weight: bold;
}

.main-nav a:link,
.main-nav a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 2px solid #e67e22;
}

.navlink {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  size: 36px;
  text-decoration: none;
  align-self: center;
}

/* ------------------------- */
/* Intro Page*/
/* ------------------------- */
.main-page {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/hero.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro__title {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2em;
}

.intro__content {
  flex: 1;
  align-content: flex-start;
  align-self: center;
  font-size: 120%;
  font-weight: bold;
  /* margin: -3em; */
}

.intro__link:link,
.intro__link:visited {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.intro__link:active,
.intro__link:hover {
  border-bottom: 2px solid #e67e22;
}

/* ------------------------- */
/* Project*/
/* ------------------------- */

.project {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/project.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/project.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: center;
}

.carousel-container {
  padding-top: 3em;
  width: 50vw;
  font-family: "Lora", serif;
}

.carousel-container img {
  align-items: center;
  justify-content: center;
}

.carousel-container a {
  text-decoration: none;
  align-items: center;
  font-size: 3em;

  background: rgba(255, 255, 255, 0);
}

.carousel-container a:link,
.carousel-container a:visited {
  color: rgba(228, 217, 217, 0.952);
  font-family: "Lato", "Arial", sans-serif;
  /* text-decoration: none; */
  font-size: 130%;
}
.carousel-container .donut a:link,
.carousel-container .donut a:visited {
  color: rgba(59, 5, 46, 0.863);
  font-family: arial, sans-serif;
  text-shadow: 0px 2px 3px rgba(22, 3, 15, 0.205);
  font-weight: bold;
}
.carousel-container .donut a:hover,
.carousel-container .donut a:active {
  color: rgba(179, 63, 152, 0.863);
  font-weight: bold;
}

.carousel-container .codescape a:link,
.carousel-container .codescape a:visited {
  font-family: "Gloria Hallelujah", arial;
  font-size: 90%;
  /* font-weight: bold; */
}

.carousel-container a:hover,
.carousel-container a:active {
  color: #e67e22;
}

.project div .donut {
  background: linear-gradient(#f8a9d5, #d1aac9);
}

/* ------------------------- */
/* Contact*/
/* ------------------------- */
.contact-main {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/contact.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/contact.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
}

.contact {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.contact img {
  align-self: center;
  justify-content: space-evenly;
  margin-top: 3em;
  height: 4em;
  width: 4em;
}

/* ------------------------- */
/* Media Queries*/
/* ------------------------- */

/* from 0 to 800px */
@media only screen and (max-width: 800px) {
  .intro__title {
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1.5em;
  }

  .intro__content {
    padding-top: 0.6em;
    padding: 0;
  }
}

/* from 0 to 500px */
@media only screen and (max-width: 500px) {
  .contact img {
    margin: 3.5em 0.5em 0.5em 0.5em;
  }
}
