/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------- */
/* Main Nav*/
/* ------------------------- */
.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10px;
  height: 4em;
  font-weight: bold;
}

.main-nav a:link,
.main-nav a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 2px solid #e67e22;
}

.navlink {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  size: 36px;
  text-decoration: none;
  align-self: center;
}

/* ------------------------- */
/* Intro Page*/
/* ------------------------- */
.main-page {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/hero.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro__title {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2em;
}

.intro__content {
  flex: 1;
  align-content: flex-start;
  align-self: center;
  font-size: 120%;
  font-weight: bold;
  /* margin: -3em; */
}

/* ------------------------- */
/* Project*/
/* ------------------------- */

.project {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/project.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/project.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
  display: flex;
  justify-content: center;
  /* -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; */
}

/* ------------------------- */
/* Contact*/
/* ------------------------- */
.contact-main {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/contact.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/contact.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 4em;
}

.contact {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.contact img {
  align-self: center;
  justify-content: space-evenly;
  margin-top: 3em;
  height: 4em;
  width: 4em;
}

/* ------------------------- */
/* Media Queries*/
/* ------------------------- */

/* from 0 to 800px */
@media only screen and (max-width: 800px) {
  .intro__title {
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
  }

  .intro__content {
    padding-top: 1em;
  }
}

/* from 0 to 500px */
@media only screen and (max-width: 500px) {
  .contact img {
    margin: 0.5em;
  }
}
